<% include partials/header %>
<div class="admin-page-position" id="userInfo">
    <h2 class="text-center">Registered Trainees</h2>
    <div class="table-wrapper">
        <table>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Occupation</th>
                <th>Courses Registered</th>
                <th>Facilitator</th>
                <th>Payment Status</th>
                <th>Reference Number</th>
                <th>Action</th>
            </tr>
            <%users.forEach((user)=>{%>
            <tr>
                <td><%=user.firstname + " " + user.lastname%></td>
                <td><%=user.gender%></td>
                <td><%=user.phone%></td>
                <td><%=user.email%></td>
                <td><%=user.occupation%></td>
                <td><%=user.course%></td>
                <td><%=user.facilitator%></td>
                <td><%=user.payment_status%></td>
                <td><a href="/admin/page/<%= user._id%>/delete" class="admin-delete-btn">Delete</a></td>
            </tr>
            <%})%>
        </table>
    </div>
</div>
<button id="print-btn" class="btn btn-blue">Print</button>
<% include partials/footer2 %>